.Post {
    background-color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #28282B;
  }
  
  .Heart:hover {
    color: orange;
  }
  
  .HeartOutline:hover {
    color: grey;
  }